.App {
  font-family: 'Arial', sans-serif;
  color: #333;
  min-height: 100vh;
  overflow: auto;
  background-color: #F0EBCE;
}

.App-header {
  background-color: #4E6C50;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Changed from center to flex-start */
  text-align: center;
  font-size: 16px;
  height: 50px; /* Adjusted height */
  padding: 0; /* Removed padding to allow flexbox to center content */
  padding-left: 20px; /* Adjust as needed */
}


.App-content {
  display: flex;
  flex-direction: row;
  padding: 40px;
  padding-left: 80px;
  padding-right: 80px;
  gap: 50px;
  justify-content: space-between;
}

.chatbot-container {
  background-color: #395144;
  overflow: auto;
  height: 50vh;
  color: white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  flex: 2; /* Adjust this value as needed */
}


.chat-messages {
  overflow: auto;
  height: 100%; 
  margin-bottom: 20px;
  flex-grow: 1;
}

.chat-message {
  background-color: #f1f1f1;
  color: #333;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 10px;
  word-break: break-word;
}

.chat-message.user {
  background-color: #4caf50;
}

.chat-input-container {
  display: flex;
}

.chat-input {
  flex-grow: 1;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.chat-send-button {
  padding: 10px;
  background-color: #F9C12C;
  color: #333;
  border: none;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.suggestions-section {
  display: flex;
  flex-direction: column;
  align-items: stretch; /* This will make sure that children expand to fill the available space */
}

.suggestions-container,
.visited-container {
  background-color: #B5C99A;
  padding: 30px;
  border-radius: 10px;
  position: relative;
  margin-top: 20px; /* Ensure equal top and bottom margins */
  margin-bottom: 20px; /* Ensure equal top and bottom margins */
  flex-grow: 1;
}

@media (max-width: 800px) {
  .App-content {
    flex-direction: column;
  }

  .chatbot-container, .suggestions-section {
    flex: 1 1 100%;
  }
}

.section-title {
  margin-top: 0;
  color: #333;
  font-size: 25px; 
  margin-bottom: 10px; 
}

.suggestions, .visited {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 200px);
  gap: 20px;
  column-gap: 90px;
}

.restaurant-card img {
  width: 150px; 
  height: 100px; 
  object-fit: cover; 
  display: block;
}


.restaurant-name {
  padding: 5px;
  font-size: 20px;
}

.suggestion-nav, .visited-nav {
  background-color: #4E6C50; 
  color: #F9C12C;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.3s ease;
}

.suggestion-nav:hover, .visited-nav:hover {
  background-color: #395144; /* Darker shade for hover state */
}

.suggestion-nav:focus, .visited-nav:focus {
  outline: none; /* Removes the default browser outline */
}

.suggestion-nav.left, .visited-nav.left {
  left: -0px;
}

.suggestion-nav.right, .visited-nav.right {
  right: -0px;
}
